:root {
    --primary-color: navy;
    --secondary-color: maroon;
    --accent1-color: seagreen;
    --accent2-color: rgb(250, 250, 100);
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

main, footer {
    width: 800px;
    margin: 0 auto;
    padding: 0px;
    align-content: end;
    background-color: var(--accent2-color);
}
header {
    width: 800px;
    margin: 10px auto;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
}

header nav{
    width: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header nav a{
    padding: 5px;
    border: 1px solid rgb(0 0 0 / 20%);
    background-color: var(--accent1-color);


}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a{
    text-decoration: none;
}

.hero {
    position: relative
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero section p {
    margin: 0px;
    padding: 5px;
    text-align: center;
}
.hero section iframe{
    float: left;
}

form{
    padding: 10px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

form label{
    grid-column: 1;
    padding: 5px;
}

form input{
    margin: 5px;
    padding: 5px;
}

form div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

form textarea {
    margin: 5px;
    padding: 5px;
    grid-column: span 2;
    min-width: 100%;
    max-width: 10px;
}

form button{
    margin: 5px;
    grid-column: span 2;
}

.newsletter{
    grid-column: span 3;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: white
}

.hero article img {
    float: right;
    width: 300px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid rgb(0 0 0 / 20%);
    background-color: var(--accent2-color);
}

footer nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
}
footer nav a img{
    padding: 10px;
    max-width: 50px;
    height: auto;
}
