/* This file determines how the file index.html looks. */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 840px;
    text-align: center;
}

main p {
    margin: 10px;

}

nav {
    background-color: darkblue;
    padding: 10px;
}

/* This comment was made without using shortcuts. */

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

h2 {
    border-bottom: 2px solid black;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    margin: 0px 20px;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    background-color: white;
}

aside img {
    margin: 0 15px;
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    background-color: white;
}

p {
    padding: 0;
}

aside {
    width: 20em;
    height: auto;
    margin: 2px;
    border: 1px 0 solid rgb (0 0 0 / 0.2);
    padding: 3px;
    background-color: deepskyblue;
    color: #111;
    text-align: center;
    position: relative;
}

aside h2{
    position: absolute;
    top: 30px;
    left: 70px;
}

footer {
    margin-top: 2px solid black;
    border-top: 20px;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000
}