/* This file determines how the file index.html looks. */
:root {
    --main-color: darkblue;
    --accent-color: white;
    --main-text-color: black;
    --border-color: black;
}
main {
    max-width: 840px;
    text-align: center;
}

nav {
    background-color: var(--main-color);
    padding: 10px;
}

/* This comment was made without using shortcuts. */

nav a {
    color: var(--accent-color);
    display: block;
    padding: 20px;
}

h1 {
    color: var(--main-color);
}

h2 {
    border-bottom: 2px solid var(--border-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    background-color: var(--accent-color);
}

aside img {
    margin: 0 15px;
    width: 200px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    background-color: var(--accent-color);
}

p {
    padding: 0;
}

aside {
    width: 39rem;
    height: auto;
    margin: 2px;
    border: 1px 0 solid rgb (0 0 0 / 0.2);
    padding: 3px;
    background-color: deepskyblue;
    color: #111;
    text-align: center;
}

footer {
    margin-top: 2px solid black;
    border-top: 20px;
    text-align: center;
}
