/* This file determines how the file index.html looks. */
main {
    max-width: 840px;
    text-align: center;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

/* This comment was made without using shortcuts. */

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

h2 {
    border-bottom: 2px solid black;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    background-color: white;
}

aside img {
    margin: 0 15px;
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    background-color: white;
}

p {
    padding: 0;
}

aside {
    width: 39rem;
    height: auto;
    margin: 2px;
    border: 1px 0 solid rgb (0 0 0 / 0.2);
    padding: 3px;
    background-color: deepskyblue;
    color: #111;
    text-align: center;
}

footer {
    margin-top: 2px solid black;
    border-top: 20px;
    text-align: center;
}
