body {
    font-family: Arial, sans-serif;
}

header {
    padding: 10px 0;
    background-color: #333;
    text-align: center;
    color: white;
    font-size: 1.5rem;
}

main {
    width: 400px;
    margin: 0 auto;
}

h1 {
    margin: 10px;
    text-align: center;
}

h2 {
    border-bottom: 1px solid #333;
}

img {
    width: 100%;
    height: 0 auto;
    box-shadow: 0 0 20px #333;
}

section {
    margin: 20px 0;
    border: 1px solid rgba(0 0 0/10%);
    padding: 10px;
    background-color: #e5e5e5;
    font-size: .9rem;
}

section p {
    margin: 10px;
}

footer {
    font-size: 0.9rem;
    padding: 10px 0;
    text-align: center;
    background-color: #333;
    color: white;
}